<footer class="site-footer">
  <div class="footer-grid">
    <div>
      <p class="footer-col-heading">JRuby</p>
      <ul>
        <li><a href="/download">Download {{ site.release.version }}</a></li>
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/security">Security</a></li>
        <li><a href="/nightly">Nightly Builds</a></li>
      </ul>
    </div>
    <div>
      <p class="footer-col-heading">Community</p>
      <ul>
        <li><a href="/community">Get Involved</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="{{ site.urls.wiki }}" target="_blank" rel="noopener">Wiki</a></li>
      </ul>
    </div>
    <div>
      <p class="footer-col-heading">Development</p>
      <ul>
        <li><a href="{{ site.urls.github }}" target="_blank" rel="noopener">Source Code</a></li>
        <li><a href="{{ site.urls.bugs }}" target="_blank" rel="noopener">Issue Tracker</a></li>
        <li><a href="/news">Release News</a></li>
        <li><a href="/atom.xml">Atom Feed</a></li>
      </ul>
    </div>
    <div>
      <p class="footer-col-heading">Professional Support</p>
      <p>Need expert JRuby support?</p>
      <a href="https://headius.com/services/?utm_source=jruby.org&amp;utm_medium=referral&amp;utm_campaign=enterprise_support&amp;utm_content=footer_link" class="headius-footer-link" target="_blank" rel="noopener">
        Headius Enterprises &rarr;
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>JRuby is open source software released under a tri <a href="https://github.com/jruby/jruby/blob/master/COPYING">EPL 2.0 / GPL 2 / LGPL 2.1</a> license.</p>
  </div>
</footer>
