  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }} &mdash; JRuby.org</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="alternate" href="/atom.xml" title="JRuby.org News" type="application/atom+xml"/>
  <link rel="stylesheet" href="/stylesheets/main.css?version=1" type="text/css" media="screen" title="no title" charset="utf-8" />
  <!--[if lte IE 7]><link rel="stylesheet" href="/stylesheets/ie7-hacks.css" type="text/css" media="screen" title="no title" charset="utf-8" /><![endif]-->
  <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  
  <script type="text/javascript" src="//use.typekit.com/swo8tlm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
