<div id="latest_release" class="release-widget">
  <p class="release-widget-label"><a href="/download">Latest release</a> &mdash; <a href="{{ site.release.url }}"><strong>{{ site.release.version }}</strong></a></p>
  <ul class="trackDownloads release-widget-links">
    <li><a href="{{ site.release.tar }}">tar</a></li>
    <li><a href="{{ site.release.zip }}">zip</a></li>
<!--    <li><a href="{{ site.release.dmg }}">dmg</a></li> -->
    <li><a href="{{ site.release.exe }}">exe</a></li>
    <li><a href="{{ site.release.exe64 }}">exe(x64)</a></li>
  </ul>
</div>
